[Desktop Entry]
Type=Application
Version=1.0
Name=franz
Comment=franz Startup Script
Exec="/usr/share/franz/franz" 
StartupNotify=false
Terminal=false